.project{
    display: flex;
    flex-direction: column;
}

.project h1{
    margin-inline: auto;
    margin-bottom: 5rem;
    font-size: 45px;
    font-family: 'JetBrains Mono', monospace;
}

.cardSection{
    display: flex;
    gap: 2rem;
}


.cardTop{
    width: 450px;
    height: 300px;
    border-top-left-radius:0.625rem;
    border-top-right-radius: 0.625rem;
    background-color: #FDFDFD;
    position: relative;
    filter: brightness(60%);
}

.cardBottom{
    width: 450px;
    height: 200px;
    background-color: #2D0B00;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;

    position: relative;
}

.cardInfo{
    width: 300px;
    height: 234px;
    padding: 0.5rem;
    background-color: #FDFDFD;
    border-radius: 0.625rem;

    position: absolute;
    top: -120px;
    left: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.cardInfo img{
    width: 70px;
    margin-bottom: 1rem;
}

.text{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.text h4{
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
}

.text p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1;
    max-width: 170px;
}

.text a{
    background-color: #2D0B00;
    padding: .7rem;
    border-radius: 0.625rem;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #FDFDFD;

    transition: .7s;
}

.text a:hover{
   box-shadow: inset -15.5em 0 0 0 #24120c, inset 15.5em 0 0 0 #24120c;
}

@media screen and (max-width: 768px){
    .project{
        flex-direction: column !important;
    }

    .cardSection{
        flex-wrap: wrap;
        width: 100%;
        margin-inline: auto;
    }

    .cardTop{
        width: 100%;
    }

    .cardBottom{
        width: 100%;
    }

    .container-card{
        width: 100%;
    }

    .cardInfo{
        width: 70%;
        left: 55px;
    }

    .project h1{
        font-size: 35px;
        margin-bottom: 2rem;
    }
}
