@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter&family=JetBrains+Mono&display=swap');


.max-container{
    width: min(1800px, 90vw);
    margin-inline: auto;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    background-color: #263238;
    color: #fff;
    box-shadow: 1px 5px 5px #77909c;
    height: 11%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navBar p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.navBar nav{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navBar ul{
    display: flex;
    gap: 1.5rem;
}

.navBar ul>a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    transition: 0.3s;
}

.navBar ul>a:hover{
    color: #77909c;
    border-bottom: 1px solid #77909c;
}

.buttonContainer{
    display: flex;
    align-items: center;

    gap: 0.5rem;
    padding: 0.4rem;

    border: 1px solid #77909c;
    border-radius: 0.3rem;

    transition: .8s;
}

.buttonContainer:hover{
    box-shadow: inset -3.5em 0 0 0 #77909c, inset 3.5em 0 0 0 #77909c;
    
}

.buttonContainer img{
    background-color: transparent;
}

.buttonMail{
    background-color: transparent;
    color: #77909c;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.buttonMail:hover{
    color: black;
}

@media screen and (max-width: 768px) {
    .navBar{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
        position: fixed;
        width: 100%;
        z-index: 1;
        top: -34px;
        background-color: #263238;
        color: #fff;
        padding: 5px;
        box-shadow: 1px 5px 5px #77909c;
        height: 11%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .buttonContainer{
        display: none;
    }

    .navBar ul{
        gap: 2rem;
    }

    .navBar ul a{
        color: #fff;
    }
}
