@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter&family=JetBrains+Mono&display=swap');

.max-container2{
    width: 70%;
    margin-inline: auto;
    margin-top: 9rem;
    margin-bottom: 15rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-area h1{
    font-family: 'JetBrains Mono', monospace;
    font-size: 45px;
}

.left-area p{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;

    margin: 1.6rem 0;
}

.left-area img{
    width: 45px;
}

.right-area img{
    width: 430px;
}