@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter&family=JetBrains+Mono&display=swap');

.max-container2{
    width: 70%;
    margin-inline: auto;
    margin-top: 15rem;
    margin-bottom: 18rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-area h1{
    font-family: 'JetBrains Mono', monospace;
    font-size: 45px;
}

.left-area p{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;

    margin: 1.6rem 0;
}

.left-area img{
    width: 45px;
}

.right-area img{
    width: 430px;
}

@media screen and (max-width: 768px) {
    .max-container2{
        flex-direction: column-reverse;
       margin-inline: auto;
       margin-top: 5rem;

    }

    .right-area img{
        width: 70%;
        height: auto;
        margin-inline: auto;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .left-area{
        margin-inline: auto;
        text-align: center;
    }

    .left-area p{
        font-size: 20px;
        width: 100%;
    }

    .left-area h1{
        font-size: 35px;
    }
}