.about{
    display: flex;
    flex-direction: column;
}

.about h1{
    margin-inline: auto;
    font-size: 45px;
    font-family: 'JetBrains Mono', monospace;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.about-container img{
    width: 100%;
    height: auto;
}

.about-container p {
    width: 400px;
    text-align: justify;
    font-size: 20px;
}

.right-area{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .max-container2{
        margin-bottom: 0;
    }

    .about-container{
        flex-direction: column;
        gap: 2rem;
    }

    .about-container img{
        width: 100%;
    }

    .about-container p{
        width: 100%;
        text-align: center;
    }

    .about h1{
        font-size: 35px;
    }
}